<IfModule mod_rewrite.c>
    Options +FollowSymLinks -Indexes
    RewriteEngine On
# TRACE and TRACK HTTP methods disabled to prevent XSS attacks
    RewriteCond "%{REQUEST_METHOD}" "^TRAC[EK]"
    RewriteRule ".*" "-" [L,R=405]
# Short Hand Site
    RewriteCond "%{REQUEST_FILENAME}" "!-f"
    RewriteCond "%{REQUEST_FILENAME}" "!-d"
    RewriteCond "%{REQUEST_FILENAME}" "!-l"
    RewriteRule "^([^/]*)$" "fetch.php?id=$1" [QSA,L]
# rewrite everything not found to index.php
    RewriteCond "%{REQUEST_FILENAME}" "!-f"
    RewriteCond "%{REQUEST_FILENAME}" "!-d"
    RewriteCond "%{REQUEST_FILENAME}" "!-l"
    RewriteRule ".*" "index.php" [L]
</IfModule>